/* https://cloudfour.com/thinks/when-to-nest-css/ */

body {
  margin: 0;
  overflow: hidden;
  font-size: 0.9rem;
}

app-container {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  overflow: hidden;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

app-container > * {
  position: relative;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: var(--fluid-txt-header);

  @media (min-width: 40em) {
    grid-template-columns: auto 1fr auto;
  }

  > app-promo {
    padding: 0.5rem 1rem;
    font-size: var(--fluid-txt-header);

    > [role="button"] {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border: solid 1px currentcolor;
      background-color: transparent;
      border-radius: 0.3rem;
      cursor: pointer;
    }
  }

  > app-message {
    align-content: center;
    padding: 0 1rem;
  }

  > app-social {
    display: flex;
    flex-wrap: nowrap;

    > a {
      padding: 0.5rem;
      width: fit-content;

      > svg {
        fill: currentcolor;
        width: 1rem;
      }
    }
  }
}

main {
  overflow: auto;
}

section {
  display: grid;
}

.staff {
  display: block!important;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 40em) {
    grid-template-columns: 1fr 1fr;
  }
}

/*  Essential CSS Breakpoints for Web Developers:
    https://twitter.com/csaba_kissi/status/1714168372785725623
    Csaba Kissi
    2023.10.17
*/

/* Mobile */
@media (max-width: 480px) {
  /* styles */
}

/* Extra small devices */
@media (min-width: 481px) and (max-width: 767px) {
  /* styles */
}

/* Small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  /* styles */
}

/* Large tablets/laptops */
@media (min-width: 992px) and (max-width: 1199px) {
  /* styles */
}

/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
  /* styles */
}

/* Extra large screens */
@media (min-width: 1920px) {
  /* styles */
}
