/* https://cloudfour.com/thinks/when-to-nest-css/ */

body {
  margin: 0;
  overflow: hidden;
  font-size: 0.9rem;
}

app-container {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  overflow: hidden;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

app-container > * {
  position: relative;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  font-size: var(--fluid-txt-header);

  @media (min-width: 40em) {
    grid-template-columns: auto 1fr auto;
  }

  > app-promo {
    padding: 0.5rem 1rem;
    font-size: var(--fluid-txt-header);

    > [role="button"] {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border: solid 1px currentcolor;
      background-color: transparent;
      border-radius: 0.3rem;
      cursor: pointer;
    }
  }

  > app-message {
    align-content: center;
    padding: 0 1rem;
  }

  > app-social {
    display: flex;
    flex-wrap: nowrap;

    > a {
      padding: 0.5rem;
      width: fit-content;

      > svg {
        fill: currentcolor;
        width: 1rem;
      }
    }
  }
}

section {
  display: grid;
}

section:nth-of-type(1),
section:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 40em) {
    grid-template-columns: 1fr 1fr;
  }
}
